@media screen and (max-width:678px){
    /*CABECALHO*/
    .conteudo-completo{
        width: 100%;
        margin: 0 0;
    }
    .cabecalho{
        margin-top: 0;
    }
    .logo{
        width: 100%;    
    }
    .cabecalho-navegacao{
        width: 100%;
        margin: 30px 0;
    }
    .lista-itens{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item{
        margin: 5px 0;
        border-bottom: 2px solid #292929;
        width: 90%;
    }
    /*CARROSSEL*/
    .carrossel{
        margin: 0 auto;
        width: 400px;
        height: 376px;
    }
    .slide{
        width: 320%;
    }
    .imagem img{
        width: 400px;
    }
    #voltar{
        top: 100%;
        left: 0%;
    }
    #proximo{
        top: 100%;
        right: 0%;
    }
    .bolinhas{
        position: absolute;
        width: 400px;
        display: flex;
        justify-content: center;
        margin-top: -180px;
    }
    /*ANUNCIOS*/
    .anuncios{
        width: 95%;
        align-items: center;
        flex-direction: column;
    }
    .anuncio{
        width: 100%;
        margin: 10px 0;
    }
    .anuncio-titulo{
        font-size: 38px;
    }
    /*POSTAGENS*/
    .noticias{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .conteudo-noticia img{
        width: 100%;
        border-radius: 5px;
    }
    .conteudo-textos-noticia{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .titulo-noticia{
        font-size: 30px;
    }
    .texto-noticia{
        font-size: 24px;
    }
    /*FORMMULARIO*/
    .conteudo-formulario{
        width: 90%;
    }
    .campo{
        width: 100%;
    }
    .conteudo-video{
        margin: 30px auto;
        width: 80%;
    }
    .video{
        width: 400px;
    }
    /*RODAPE*/
    .rodape-lista{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .rodape-item{
        margin: 5px 0;
        border-bottom: 2px solid #fff;
        width: 90%;
    }
}