
/*FONTES IMPORTADAS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');

/*
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conteudo-completo{
    width: 1024px;
    margin: 0 auto;
}
/*CABEÇALHO*/
.cabecalho{
    margin-top: 25px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}
.logo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;    
    background: #292929;
    color: white;
    padding: 10px;
}
.img-logo{
    width: 120px;
}
.titulo-logo{
    text-transform: uppercase;
}
.cabecalho-navegacao{
    width: 500px;
    margin: 30px auto;
}
.lista-itens{
    text-transform: uppercase;
    justify-content: space-around;
    list-style: none;
    display: flex;
}
.item{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
}
.item:hover{
    cursor: pointer;
    transition: 0.5s;
    background: #292929;
    color: #fff;
}
/*CARROSSEL*/
.carrossel{
    width: 1024px;
    height: 576px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}
.slide{
    width: 5020px;
    display: flex;
    align-items: center;
}
.botao-slide{
    position: absolute;
    list-style: none;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    padding: 10px;
}
.botao-slide:hover{
    transition: 0.4s;
    transform: scale(1.2);
    background: #292929;
    cursor: pointer;
    color: #fff;
}
#atual{
    margin-left: 0;
    transition:all 2s;
}
#voltar{
    left: 5%;
}
#proximo{
    right: 5%;
}
.imagem img{
    width: 1024px;
    height: 576px;
}
.bolinhas{
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}
.bolinhas div{
    transition: all 0.5s;
    border: 2px solid aqua;
    padding: 8px;
    border-radius: 50%;
    margin-right: 15px;
    cursor:pointer;
}
.bolinhas div:hover{
    background: aqua;
}
.imgAtual{
    transition: all 0.5s;
    background: aqua;
}
/*ANÚNCIOS*/
.anuncios{
    margin-top:30px ;
    display: flex;
    padding: 40px;
    width: 90%;
    justify-content: space-between;    
}
.anuncio{
    opacity: 0.8;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anuncio:hover{
    transition: 0.5s;
    transform: scale(1.2);
    opacity: 1;
    font-size: 22px;
}
.anuncio img{
    width: 100%;
    border-radius: 10px;
    
}
.anuncio-titulo{
    position: absolute;
    background: rgba(0, 0, 0, 0.384);
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
}
/*POSTAGENS E CADASTRO*/
.conteudo-principal{
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.noticias{
    width: 50%;
    display: flex;
    flex-direction: column;
}
/*titulo generico*/
.titulo-conteudo-principal{
    font-family: 'Roboto Slab', serif;
    border-bottom: 4px solid black;
    text-transform: uppercase;
    margin: 10px 0;
}
/*NOTICIAS*/
.conteudo-noticia{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}
.conteudo-noticia img{
    width: 25%;
    border-radius: 5px;
}
.conteudo-noticia img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.conteudo-textos-noticia{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.titulo-noticia{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin-bottom: 15px;
}
.texto-noticia{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.botao-carregar-mais{
    border: none;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    background: #292929;
    color: #fff;
}
.botao-carregar-mais:hover{
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
    color: aqua;
}